/*------- Header Styles -------*/
.logo {
	width: 80px;
	margin-right: 1em;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 2em;
}

header h1 {
	font-size: 25px;
}

.logoDiv {
	display: flex;
	flex-direction: row;
}

.explanation {
	width: 80%;
	line-height: 1.7em;
	text-align: center;
}
