@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');
/*------- General styles -------*/
.App {
  background: linear-gradient(to top right,#ff828a 0%,#f44e92 100%);
  height: 100vh;
  padding-top: 130px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  color: #3a5366;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 600px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 8px 20px 0 rgb(0 0 0 / 15%);
  padding: 57px 65px;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

/*------- Media Query for responsive -----*/
@media (max-width: 800px) {
  .wrapper {
    width: unset;
    margin-right: 1em;
    margin-left: 1em;
  }
}
